# Node
node_modules/

# Hardhat
cache/
artifacts/

# Deployments
deployments/

# Typechain
typechain/

# Env
.env

# Coverage
coverage/
coverage.json

client/.DS_Store
client/.vite-ssg-dist
client/.vite-ssg-temp
client/*.local
client/dist
client/dist-ssr
client/.node_modules
client/.idea/
client/*.log